*{
    font-family: sans-serif;
}
.nav-bar{
    margin-left: 0%;
    background-color:black;
    width: 400px;
    padding: 2% 2%;
    color: aqua;
    text-align: center;
    overflow: hidden;
    
}
.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
  }
.nav-bar a:hover{
     color: black;
     background-color: yellow;
     transition: 0.8s;
}
.home{
    background-color: rgb(182, 189, 190);
    text-align: center;
    font-size: 150%;
}
table{
    background-color: #fcd5ce;
    align-items: center;
    width: 30%;
}
td{
    padding: 20px 0px;
}
p{
    overflow: hidden;
}
.imge img{
    height: 50%;
    width: auto;
    margin-left: 70%;
    border-radius: 60%;
    position: absolute;
    display: flex;
    
}
#about table{
    margin-top: 25px;
    margin-left: 10%;
}
/*
td:hover{
    color:yellow;
    background-color: black;
    transition:all .6s;
}
*/
section img{
    height: 7%;
    border-radius: 1%;
    position: relative;
}
h2{
    text-decoration: underline;
    text-decoration-color: red;
    font-style: bold;
}
.welcome{
    
    padding: 10px 20px;
    width: 40%;
    margin-left: 30%;
    position: relative;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
    animation:animatetop 0.8s;

}
@keyframes animatetop
    {from{top:-300px;opacity:0} 
        to{top:0;opacity:1}
    }
#Skills{
    background-color:#ffe5d9;
    line-height: 250%;
}
#interest{
    position: relative;
    padding: 10% 25%; 
    line-height: 250%; 
    background-color: #ffb4a2;
}

.con{
    background-color: black;
    padding: 4% 5%;
    text-align: center;
    float:center;
    overflow: hidden;
}
.con img:hover{
    transform: translateY(-10px);
}
.con a:hover{
    background-color: red;
    transition: 0.5s;
}
.lang{
    margin-left: 55%;
}
.skills-2{
    margin-left: 15%;
}
#about{
    width: 100%;
    background-color: #f5cac3;
}